.App {
  margin:0
}
.NavList{
 
  color:brown;
  font-weight: 500;
  font-size: large;
  font-family: sans-serif;
  list-style-type: none;
  display: flex;
  padding-left: 10%;
  padding-right: 45%;
  text-align: center;
}
.Nav{
  display:flex;
  /* flex-direction: column; */
}
.NavItems{
  padding-left: 10%;
}
.buttons{
  margin-left: 5;
}
.button{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.Rentpage{
padding: 20px;
margin-left: 100px;
margin-right: 100px;
margin-top: 50px;
}
.rentdetail{
  display:flex;
  
}
.property{
  border: 1px solid #ccc;
  width: 300px;
  height: 450px;
  margin-top: 40px;
  padding-top: 10px;
  
}
.image{
  width: 300px;
  height: 300px;
}
.img{
  width: 200px;
  height: 250px;
}
/* .properties{
  display: flex;

} */
