.App {
  margin:0
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 12px;
  padding-left: 50px;
  overflow: hidden;
  background-color: rgb(233, 226, 226);
}

li {
  float: left;
  display: block;
  /* color: white; */
  text-align: center;
  padding: 10px 26px;
  text-decoration: none;
}
li:hover {
  background-color: rgb(224, 215, 215);
}

.button{
float: right;
border-radius: 5%;

}
.button:hover{
  background-color: rgb(43, 26, 231);
  color: aliceblue;
}
.properties{
padding: 20px;
margin-left: 100px;
margin-right: 100px;
margin-top: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(148, 146, 146, 0.2);
  width: 32%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 20px;
  transition: transform 450ms;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
}
.cards{
  display: flex;
  flex-wrap: wrap;
}
.description{
  display: flex;
  font-size: small;
  align-content: space-between;
}
.filters{
  list-style-type: none;
  margin: 0;
  padding: 10px 26px;
  overflow: hidden;
  background-color: rgb(179, 11, 11); 
}